
 <div class="container">
  <h1>Restaurants</h1>
  <div class="cards">
      <div class="card-product">
        <div class="card-product-infos p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
          <h2><%= @restaurant.name %></h2>
          <p>Located : <%= @restaurant.address%></p>
          <p>Category : <%= @restaurant.category%></p>
          <p>Tel : <%= @restaurant.phone_number%></p>
          <p><%= link_to "Home", restaurants_path, class: "btn btn-primary"%></p>
        </div>
      </div>
  </div>
  <div class = "review">
    <div class = "card-product">
      <h3>Reviews</h3>
      <div class = "card-product-infos p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <% @restaurant.reviews.each do |review| %>
          <%= review.content %>
          <%= review.rating %>
        <% end %>
        <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary mt-3"%></p>
       </div>
    </div>
  </div>
</div>


<%# <h1><%= @restaurant.name %>

<%# <p>Located : <%= @restaurant.address %>
<%# <p>Category : <%= @restaurant.category %>
<%# <p>Tel : <%= @restaurant.phone_number %>
