
<div class="container">

  <h1 class="m-5"><%= @restaurant.name %></h1>

  <div class="cards">
    <div class="card-product">
      <div class="row card-product-infos p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">

        <div class="col-md-4">
          <img src="<%= @restaurant.image %>" class="card-img" alt="<%= @restaurant.name %>">
        </div>
        <div class="col-md-8">
          <p>Located : <%= @restaurant.address%></p>
          <p>Category : <%= @restaurant.category%></p>
          <p>Tel : <%= @restaurant.phone_number%></p>
        </div>

      </div>
    </div>
  </div>

  <div class="review">
    <div class="card-product">
      <h3 class="mt-5">Reviews</h3>
      <div>
        <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-secondary mt-3"%></p>
      </div>
      <% @restaurant.reviews.each do |review| %>
        <div class="border p-3 m-2">
          <p><%= review.content %></p>
          <p><%= review.rating %></p>
        </div>
      <% end %>
    </div>
  </div>

  <p class="d-flex justify-content-end"><%= link_to "Home", restaurants_path, class: "btn btn-outline-secondary"%></p>

</div>
