<div class="container mt-5">

  <h2 class="text-center mb-4">Add a Review</h2>
  <h2 class="mb-4"> <%= @restaurant.name %> </h2>

  <%= form_with model: [@restaurant, @review], local: true, class: "needs-validation" do |f| %>
    <% [:rating, :content].each do |field| %>
      <div class="mb-3">
        <%= f.label field, field.to_s.humanize, class: "form-label" %>
        <%= f.number_field field, class: "form-control", placeholder: field.to_s.humanize, required: true %>
        <div class="form-text">Please enter your <%= field.to_s.humanize %>.</div>
      </div>
    <% end %>

  <div class="d-flex justify-content-center">  <%# class="d-grid" %>
    <%= f.submit "Submit", class: "btn btn-secondary btn-lg" %>
  </div>
  <% end %>

</div>
